<div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/index.html">Home</a>
          <a class="p-2 text-muted" href="/about.html">About</a>
          <a class="p-2 text-muted" href="/contact.html">Contact</a>
          <a class="p-2 text-muted" href="/book.html">Book</a>
          <a class="p-2 text-muted" href="/nearby.html">Nearby</a>
          <a class="p-2 text-muted" href="/Bussiness.html">Business</a>
          <a class="p-2 text-muted" href="/taxi.html">Taxi Service</a>
        </nav>
      </div>